*~	

# Ignore user option and built files
*.suo
*.csproj.user
*/bin
*/obj

# Generated help files
Help/

# ReSharper stuff
_ReSharper.Fudge
Fudge.*.ReSharper.user
/.vs/Fudge/v16/TestStore/0/testlog.manifest
/.vs/Fudge/v16/TestStore/0/044.testlog
*.v2
*.testlog
/.vs
